Use [this](https://developers.google.com/apis-explorer/?hl=en_US#p/fusiontables/v2/) for prototyping SQL stuff and other fusiontable commands.

In [39]:
import requests

ACCESS_TOKEN= 'ya29.JAJTMDY9ZxsV5Jjg5dZYW8tcj4KTwZUF5sa0eNNd8G5o-fLSOWFEeu7G76DiC6mfvPvY'
key= "AIzaSyBa9i6KrINREXPzktmNr9AWo8dzCT7U2Cc"
table_id = '1JGvoOBuk1hUlLtHphWSqe5W_x3fcufRN8-6O_DWE'

GET_URL = 'https://www.googleapis.com/fusiontables/v2/query'

# GET table info

In [42]:

sql = "SELECT * FROM {}".format(table_id)

r = requests.get(GET_URL, params = {'sql':sql, 'key':key})

In [43]:
r.json()

{'columns': ['Num', 'Alpha', 'Greet', 'test col'],
 'kind': 'fusiontables#sqlresponse',
 'rows': [['4', 'd', 'ni hao', 'test'],
  ['5', 'e', 'adios', 'of'],
  ['6',
   'f',
   'ciao',
   '<input type="radio" name="sex" value="male" checked>Male<br><input type="radio" name="sex" value="female">Female'],
  ['7', 'g', 'shalom', 'new'],
  ['8', 'h', 'bon voyage', 'program'],
  ['9', 'i', 'au revoir', ''],
  ['10', 'j', 'auf Wiedersehen', ''],
  ['NaN', '', '2', ''],
  ['NaN', '88', '99', '99']]}

## Get ROWIDs

In [ ]:
sql = "SELECT ROWID FROM {}".format(table_id) # Get all rowids

sql = "SELECT * FROM {} WHERE ROWID='2'".format(table_id) # Get all columns with associated row id.

# INSERT a new row

In [44]:
sql = "INSERT INTO {} (Greet) VALUES (2)".format(table_id)
headers={"Content-type": "application/json"}

r = requests.post(URL, params={'sql':sql, 'key':key, 'access_token':ACCESS_TOKEN})

In [46]:
r.json()

{'error': {'code': 401,
  'errors': [{'domain': 'global',
    'location': 'Authorization',
    'locationType': 'header',
    'message': 'Invalid Credentials',
    'reason': 'authError'}],
  'message': 'Invalid Credentials'}}

In [ ]:
sql = "INSERT INTO {} (Num, Alpha, Greet, 'test col') VALUES ('inf', 88, 99, 99)".format(table_id)

# UPDATE

In [ ]:
sql = "UPDATE {} set Greet = 'bao bao' WHERE ROWID = '2'".format(table_id)

sql = "UPDATE {} SET Num='hi', Greet='hi', 'test col'='bye' WHERE ROWID='3'".format(table_id)

# DELETE

In [ ]:
sql = "DELETE FROM {} WHERE ROWID = '2'".format(table_id)